
body {
	background:url(../img/school.jpg)  50% 20%  no-repeat !important;
    background-size: cover;
}

.signin {
	width:477px;
	height:479px;
	background:url(../img/login_bg.png) no-repeat;
	margin:0 auto;
	position:absolute;
	top:40%;
	left:50%;
	margin-top:-239px;
	margin-left:-238px;
}
.signin-head {
	margin:0 auto;
	padding-top:30px;
	width:120px;
}
.form-signin {
  max-width: 330px;
  padding: 43px 15px 15px 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 14px;
  border-radius: 0;
  background: url(../img/login_user.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  background: url(../img/login_pas.png) 0 0 #bdbdbd no-repeat;
  padding-left:60px;
  color:#FFFFFF;
}
.form-signin button {
  border-radius: 0;
}
.error{
    margin: 37%;
    color: firebrick;
    font-weight: bold;
}